<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nimij</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="font-['helvetica_now_display']">
    <nav class="fixed w-full py-5  px-3 bg-sky-500 text-white text-center text-2xl flex justify-between">
        <h3>Nimij</h3>
        <% var loggedin=typeof loggedin!=="undefined"? loggedin:true %>
        <div class="justify-between gap-5 flex">
            <% if(loggedin && user && user._id){ %>
                <a href="/cart/<%= user._id %>">Cart</a>
                <a href="/shop">Shop</a>
                <a href="/users/myorders/<%= user._id %>">Orders</a>
            <% } %>
            <% if(loggedin){ %>
            <a href="/logout">Logout</a>
            <% }%>
            
            <a href="/ownerlogin">Owner-access</a>
        </div>
       
    </nav>
</body>
</html>